
.ContactTitle {
    font-family: 'Lobster', cursive;
    text-align: center;
    padding: 30px;    
  }

.MessageForm{
    box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);
}
@media (max-width: 995px) {
    .WholeContainer{
        background-color: #47C627;
    }
   
    .MessageForm{
        position: relative;
        order: 1;
        box-shadow: none;
        padding: 0 0 20px ;
        background-color:rgb(233, 233, 233);
    }
   
    .InfoMap{
        order: 2;
          
    }   
}